$font-stack:																Arial;
$wall-blue:																	#296F91;
$charcoal:																	#232323;

$title-colour:															white;
$title-background:													$charcoal;

$box-width:																	70vh;
$box-margin:																10vh auto 0;
$box-padding: 															2vh;